In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("/Users/antonindvoracek/Documents/Shánení práce : bytu/tipsport/project/data/blogtext.csv")

In [3]:
df.head()

,id,gender,age,topic,sign,date,text
0,2059027,male,15,Student,Leo,"14,May,2004","Info has been found (+/- 100 pages,..."
1,2059027,male,15,Student,Leo,"13,May,2004",These are the team members: Drewe...
2,2059027,male,15,Student,Leo,"12,May,2004",In het kader van kernfusie op aarde...
3,2059027,male,15,Student,Leo,"12,May,2004",testing!!! testing!!!
4,3581210,male,33,InvestmentBanking,Aquarius,"11,June,2004",Thanks to Yahoo!'s Toolbar I can ...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681284 entries, 0 to 681283
Data columns (total 7 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      681284 non-null  int64
 1   gender  681284 non-null  object
 2   age     681284 non-null  int64
 3   topic   681284 non-null  object
 4   sign    681284 non-null  object
 5   date    681284 non-null  object
 6   text    681284 non-null  object
dtypes: int64(2), object(5)
memory usage: 36.4+ MB

In [17]:
text = df.iloc[1000, 6]

for i in range(0, len(text), 100):
    print(text[i:i+100])

   This is my first entry. I have long wanted to a place write down my thoughts but have never gone
through with the process. Today I saw an article on Yahoo that talked about this web site and decide
d this would suit my needs just fine.  Today is my last Monday working for this company. I am a prod
uction planner. The company is closing operations in Mexico and our office, located in San Antonio,
is no longer needed. I have worked for this company for twelve years, initially in Laredo Texas, and
, for the last 10 years in San Antonio.  Losing my job has me filled with anxiety. I have two childr
en, a nine year old son and a seventeen year old daughter. Although my wife has a good job, I am uns
ure of what our future will be. My daughter will be a senior in high school next year and will go to
 college the year after. How we'll pay for that I do not know.  My dad worked as a lithographer and
lost his job when I was the same age my daughter is now. We moved to a little town in Illinois where
 I finished school. My senior year of high school was six weeks long. I had enough accumulated credi
t from the district I was in to graduate in Illinois and only had to wait through a probationary per
iod to receive a degree. Knowing money was tight, I never asked about going to college but rather st
arted working. My first job was with a company in Merriam Kansas near where I grew up. Finding mysel
f in the same position now as dad was then is really scary. We kids never knew how difficult it was
for him.  On one hand I am sure all will turn out well and on the other I am consumed with guilt for
 failing my family. I worry about how we will survive financially and how we will give to our childr
en the things we want to give them. I look at mom and dad today and see two people that have survive
d the years still waking each day happy and with a bright outlook. I know, I hope, I will be the sam
e when I am their age.  One of my brothers is currently searching for a job and it worries mom and d
ad so much I am reluctant to tell them about me. I feel so alone not sharing this but don't want to
add the stress to their lives. They will probably be upset when they do learn of this but I'll accep
t that when it comes.  Luckily, the company is giving me a generous severance package which will kee
p us afloat until Christmas. I have started searching for jobs here in San Antonio. I will probably
have to take a job outside my experience at much less money. Finding work would be easier if I looke
d outside the city, or better, outside the state. I won't do that as I have promised my daughter I w
ould not move the family before she graduated from high school.

In [21]:
df.iloc[1000]

id                                                  3369668
gender                                                 male
age                                                      44
topic                                                indUnk
sign                                                 Taurus
date                                            17,May,2004
text         This is my first entry. I have long wanted ...
Name: 1000, dtype: object

In [18]:
df["topic"].value_counts()

topic
indUnk                     251015
Student                    153903
Technology                  42055
Arts                        32449
Education                   29633
Communications-Media        20140
Internet                    16006
Non-Profit                  14700
Engineering                 11653
Law                          9040
Publishing                   7753
Science                      7269
Government                   6907
Consulting                   5862
Religion                     5235
Fashion                      4851
Marketing                    4769
Advertising                  4676
BusinessServices             4500
Banking                      4049
Chemicals                    3928
Telecommunications           3891
Accounting                   3832
Military                     3128
Museums-Libraries            3096
Sports-Recreation            3038
HumanResources               3010
RealEstate                   2870
Transportation               2326
Manufacturing                2272
Biotech                      2234
Tourism                      1942
LawEnforcement-Security      1878
Architecture                 1638
InvestmentBanking            1292
Automotive                   1244
Agriculture                  1235
Construction                 1093
Environment                   592
Maritime                      280
Name: count, dtype: int64